header {
    display: grid;
    grid-template-columns: 0.3fr 3fr 0.3fr 0.3fr 0.3fr;
    /* border: black dotted 1px; */
    text-align: center;
    align-items: center;
    gap: 0px;
    width: 100%;
}


#titre {
    display: flex;
    height: 100%;
    border: solid red 1px;
    margin-right: 0px;
    justify-content: center;
}

#titre h4.skeleton {
    display: inline;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
    color: transparent;
}

@keyframes load {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#logofleche {
    display: flex;
    align-items: center;
    border: solid blue 1px;
    height: 100%
}

i.skeleton {
    visibility: hidden;
}

#logofleche.skeleton,
#menu.skeleton,
#cloche.skeleton,
#check.skeleton {
    display: grid;
    align-self: center;
    justify-items: center;
    background-color: #ccc;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
    /* border: #ff00cc solid; */
}

#menu {
    display: grid;
    border: solid green 1px;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

#check {
    display: grid;
    border: solid green;
    align-items: center;
    justify-items: center;
}

#cloche {
    display: grid;
    border: solid pink 1px;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

#photoprofil {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    border: 4px solid transparent;
    border-radius: 50%;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(135deg, #ff00cc, #3333ff) border-box;
}

#photoprofil.skeleton {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    border: 4px solid transparent;
    border-radius: 50%;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
}

#photoprofil img {
    display: grid;
    object-fit: cover;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    /* border: solid green; */
}

#photoprofil img.skeleton {
    visibility: hidden;
}


ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

.ligne2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* border: solid purple; */
    align-items: center;
    text-align: center;
}


.descriptions h4,
.ligne2 h4 {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: medium;
}

.descriptions h4.skeleton,
.ligne2 h4.skeleton {
    justify-self: start;
    display: inline;
    background-color: #ccc;
    color: transparent;
    border-radius: 5px;
    margin: 2px;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
}


p {
    font-size: 12px;
    margin-top: 0px;
}

p.skeleton {
    font-size: 12px;
    margin-top: 0px;
    background-color: #ccc;
    color: transparent;
    border-radius: 5px;
    display: inline;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
}

.descriptions {
    display: grid;
    /* border: solid orange; */
    font-size: 12px;
    margin-top: 0px;
}

a.skeleton {
    color: transparent;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
    border-radius: 5px;
}

li.skeleton {
    justify-self: start;
    background-color: #ccc;
    color: transparent;
    border-radius: 5px;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
}

a {
    text-decoration: none;
}

.bouton {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    gap: 10px;
    font-size: 11px;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}

#following {
    background-color: #0095f6;
    border-radius: 5px;
    color: white;
    border: 0
}

#following.skeleton {
    background-color: #ccc;
    border-radius: 5px;
    color: transparent;
    border: 0;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
}

#message {
    background-color: #f0f0f0;
    border-radius: 5px;
    color: black;
    border: 0
}

#message.skeleton {
    background-color: #ccc;
    border-radius: 5px;
    color: transparent;
    border: 0;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
}

#mail {
    background-color: #f0f0f0;
    border-radius: 5px;
    color: black;
    border: 0
}

#mail.skeleton {
    background-color: #ccc;
    border-radius: 5px;
    color: transparent;
    border: 0;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.photo-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.photo-container.skeleton {
    background: linear-gradient(90deg,
            #e94560,
            #0f3460,
            #533483,
            #e94560);
    background-size: 300% 100%;
    animation: load 5s linear infinite;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.photo-container img.skeleton {
    visibility: hidden;
}

section.skeleton {
    max-width: 100%;
    border-bottom: 1px solid #f6f7f9;
    display: grid;
    height: 1px;
    margin: 5px;
    background: linear-gradient(90deg, #e94560, #0f3460, #533483, #e94560);
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: load 5s linear infinite;
}

#mode {
    display: flex;
    width: 100%;
    height: 100%;
    border: solid orange 1px;
    align-items: center;
    justify-content: center;
}
button {
    border: blue solid 1px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
}