header {
    display: grid;
    grid-template-columns: 1fr 5fr 0.5fr 0.5fr ;
    /* border: solid; */
    text-align: center;
    gap: 10px;
    
    
}

visible{
    animation: skeletton 5s ease-in-out forwards;
}

@keyframes skeletton {
    0%{opacity :0}
    25%{opacity:0}
    50%{opacity : 0}
    75%{opacity : 0}
    100%{ opacity : 1}
}

#titre{
    display: flex;
    /* border: solid red; */
    margin-right: 0px;
    justify-content: center;
}

#logofleche {
    display: grid;
    /* border: solid blue; */
    align-items: center;
    justify-items: center;
}

#menu {
    display: grid;
    /* border: solid yellow; */
    align-items: center;
    justify-items: center;
}
#check{
    display: grid;
    /* border : solid green; */
    align-items: center;
}

#cloche {
    display: grid;
    /* border: solid yellow; */
    align-items: center;
    justify-items: center;
}

#photoprofil {
    display: grid;
    border: blue solid 5px ;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;    
    border: 4px solid transparent;
    border-radius: 50%;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(135deg, #ff00cc, #3333ff) border-box;
}



#photoprofil img {
    display: grid;
    object-fit: cover;
    border-radius: 50%;
    width: 80px;
    height: 80px;

    /* border: solid green; */
}

img {
    width: 100%;
}

ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

.ligne2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* border: solid purple; */
    align-items: center;
    text-align: center;
}

.descriptions h4{
    margin-bottom: 0px;
    margin-top: 5px;
    font-size:medium;
}


.ligne2 p {
    font-size: 12px
}

.descriptions {
    display: grid;
    /* border: solid orange; */
    font-size: 12px;
    margin-top: 0px;
}

a {
    text-decoration: none;
}


.bouton {
    
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    gap : 10px;
    font-size: 11px;
    justify-content: space-evenly;
    margin-top: 10px;
    height:30px;
    margin-bottom:10px
    
    
    
}

#following {
    background-color: #0095f6;
    border-radius: 5px;
    color: white;
    border: 0
}

.photo {
    object-fit:cover;
    border: solid  grey 1px  ;
    
}

.photos {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap :5px;

}
.skeletton {
   color:#b1707000;
   background-color: #f4f4f700;

}
.skeletton img {
    
    visibility:hidden
}
.skeletton bouton {
    color:hsl(0, 6%, 84%);
    
}
.skeletton button{
    background-color: hsl(0, 6%, 84%);
    color:white;
    border: solid 1px #ffffff;
}
.skeletton #following {
    background-color: hsl(0, 6%, 84%);
    color:white;
    border: solid 1px #ffffff;
}
.skeletton #photoprofil {
    border: solid 1px hsl(0, 6%, 84%);
    background-color:hsl(0, 6%, 84%)
    
    
}
.skeletton .photo {
    border:1px solid #ffffff;
    background-color: hsl(0, 6%, 84%);
}
.skeletton a {
    color: #ffffff;
}

.skeletton {
    display:none
}



